@media (max-width: 1023px) { } 
/* tablet */ 
@media (min-width: 740px) and (max-width: 1023px) {
    .container {
        width: 1000px;
        height: 100%;
    }
    .top_menu_collapse {
        margin-left: 10px;
    }
    .image-people-img {
        width: 470px;
        height: 300px;
        border-radius: 20px;  
    }
    
} 
/* Mobile */ 
@media (max-width: 739px) { 
    .container { 
        width: 400px; 
        height: 100%; 
    } 
    .top_menu_collapse {
        position: absolute;
        top: 10.5%;
        left: 0;
        width: 100%;
        height: 0;
        background-color: #212529;
        box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
        overflow: hidden;
        transition: .3s ease;
    }
    .top_menu{      
        display: block;
    }
    
    .nav-link {
        display: block;
        font-size: 1.4rem;
        margin-right: 0;
        margin-left: 115px;
        margin-top: 25px;
        text-align: center;
        color: $white-color;
        transform: translateY(-50px);
        transition: .3s ease;
    }
    .sidebar {
        display: block;
    }

    .sidebar #close-icon {
        display: none;
    }

    #check:checked~.top_menu_collapse {
        height: 20rem;
    }

    #check:checked~.top_menu_collapse a {
        transform: translateY(0);
        transition-delay: calc(.15s * var(--i));
    }


    #check:checked~.sidebar #menu-icon {
        display: none;
    }

    #check:checked~.sidebar #close-icon {
        display: block;
    }
    .cart {
        width: 30px;
    }
    .fa-solid {
        font-size: 1rem;
    }
    .login {
        font-size: 0.8rem;
        border-color: $main-color;
    }
    .advertise {
        padding-top: 30px;
        padding-left: 0;
    }
    .advertise-img {
        width: 100%;
    }

    .roww {        
        padding: 10px 10px;        
    }
    .o_colored_level_item {
        display: flex;
        align-items: center;
        
    }
    
    .o_colored_leveltext {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 5px;
        margin-right: -35px;
        
    }
    .o_colored_level_link {
        text-decoration: none;
        color: $white-color;
    
    }
    .o_colored_leveltext h3 {
        width: 10px;
        font-size: 0.7rem;
    
    }
    .o_colored_leveltext h4 {
        font-size: 0.5rem;
        
    }
    .img-card {
        width: 30px;
        height: 30px;
    }
    .img-grand {
        width: 30px;
        height: 30px;

    }
    .img-expedition {
        width: 30px;
        height: 30px;
    }
    .delete {
        display: none;
    }
    .carousel-item {
        padding: 10px 10px;
        width: 400px;
        display: flex;
        overflow: hidden;
    }
    .carousel-product-body-img {
        width: 360px; 
    }
    
    .carousel-icon {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 20px;
        height: 30px;
    }
    
    .carousel-text {
        margin-left: 20px
        
    }
    .fa-playstation {
        margin-left: 15px;
    }
    .text-white {
        font-size: 2rem;
    }
    .text-primarycolor {
        font-size: 2rem;
    }
    .image-people {
        padding: 0 20px;
        display: block;
    }
    
    .image-people-second {
        padding: 0 20px;
        display: block;
    }
    
    .image-people-img {
        width: 360px;
        height: 200px;
        border-radius: 20px;  
    }
    .custome-reveiew {
        display: block;
    }
    
    .custome-reveiew-text {
        width: 360px;
    }
    
    .custome-reveiew-text-title {
        color: $main-color;
        font-size: 1.6rem;
        text-align: center;
        height: 50px;
        font-weight: 800;
        
    }
    
    .custome-reveiew-text-PCs {
        font-size: 1.6rem;
        line-height: 2rem;
        margin-bottom: 10px;
    }
    
    .custome-reveiew-text-work,
    .custome-reveiew-text-gamer
    {
        margin-bottom: 20px;
        font-size: 1.1rem;
        
    }
    
    
    .btn-text-view {
        margin-left: 100px;
        margin-bottom: 30px;
    }
    .btn-text-view-link {
        text-decoration: none;
        width: 150px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $white-color;
    }
    
    .custome-reveiew-talk {
        width: 360px; 
    }
    .aboutus {
        h2 {
            font-size: 2rem;
        }
        h1 {
            font-size: 2rem;
        }
        h3 {
            font-size: 2rem;
        }
        h4 {
            font-size: 2rem;
        }
    }
    .trustus{
        display: block;
    }
    
    .trustus-image{
        width: 360px;
        height: 251px;
    }
    .advise{
        display: none;
    }
    .text-advice {
        margin: 0;
    }
    .blog-image{
        width: 100%;
        height: 250px;
    }
    
    .blog-content{
        position: absolute;
        top: 0;
        width: 300px;
        height: 250px;
        background-color: rgba(0, 0, 0, 0.637);
        padding: 20px 20px;
        border-radius: 20px;
        h1 {
            font-size: 1.5rem;
        }
        p {
            font-size: 0.8rem;
        }
        .blog-find {
            display: none;
        }
    }
    .voucher-img {
        height: 200px;
    }
    .checkout {
        margin-top: 0;
    }
    .footer{
        padding: 20px 20px;

    }
    .footer-container {
        display: block;
        height: 150px;
    }
    .contact{
        display: inline-flex;
        white-space: nowrap;
        font-size: 0.6rem;
    }
    
    .legal {
        display: inline-flex;
        white-space: nowrap;
        font-size: 0.8rem;
    }
    
    .social-link{
        text-decoration: none;
        color: $main-color;
        margin: auto;
        margin-top: 50px;
        font-size: 2.5rem;
        &:hover {
            opacity: 0.5;
        }
    }
}