.wrapwrap {
    display: flex;
    flex-direction: column;
    height: 100%;
    line-height: 24px;
    align-items: center;
    width: 100%;
    background-attachment: fixed;
    background-image: url(https://www.flowup.shop/web/image/website_flowup.img_background-lines);
    background-position-x: 100%;
    background-position-y: 0%;
    background-repeat: no-repeat;
    background-size: 1354px;
    z-index: 0;
}